<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Competitions</title>
    <style>
         table {
             border-collapse: collapse;
             width: 100%;
             font-family: cursive;
          }
          td,
          th {
            padding: 10px;
            border-bottom: 2px solid grey;
          }
         .nav{
             display: grid;
             grid-template-columns: 9% 9%;
         }
         button{
             width:70px
         }
         .table_title{
             font-size: 20px;
         }
    </style>
</head>
<body>
<header>
    <h1>Список соревнований</h1>
    <div class="nav">
        <div style="margin-left: 0px">
            <form>
                <input type="button" value="Все соревнования" onClick='location.href="https://skiracing.azurewebsites.net/competitions"'>
            </form>
        </div>
        <div>
            <form>
                <input type="button" value="Все гонщики" onClick='location.href="https://skiracing.azurewebsites.net/racers"'>
            </form>
        </div>
    </div>
</header>
{% if competitions %}
    <table>
    <tr>
        <td class="table_title">Название</td>
        <td class="table_title">Дата</td>
        <td class="table_title">Страна</td>
        <td class="table_title">Дистанция(м)</td>
        <td class="table_title">Тип соревнования</td>
        <td></td>
    </tr>
    {% for competition in competitions %}
        <tr>
        <td>{{ competition.name }}</td>
        <td>{{ competition.date }}</td>
        <td>{{ competition.country }}</td>
        <td>{{ competition.distance }}</td>
        <td>{{ competition.type }}</td>
         <td>
            <form>
                <input type="button" value="Детальнее" onClick='location.href="http://127.0.0.1:8000/competition?id={{competition.id}}"'>
            </form>
        </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</body>
</html>