<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <span>
        <form>
            <input type="button" value="Все сореви" onClick='location.href="http://127.0.0.1:8000/competitions"'>
        </form>
        <form>
            <input type="button" value="Все гонщики" onClick='location.href="http://127.0.0.1:8000/racers"'>
        </form>
    </span>
</header>
<h2>Competition</h2>
<table>
        <tr>
        <td>    name {{ competition.name }}     </td>
        <td>   date {{ competition.date }}   </td>
        <td>   country {{ competition.country }}    </td>
        <td>   distance {{ competition.distance }}   </td>
        <td>   type {{ competition.type }}    </td>
        </tr>
    </table>
<h2>Racer</h2>
    <table>
        <tr>
        <td>name {{ racer.name }}</td>
        <td>surname {{ racer.surname }}</td>
        <td>gender {{ racer.gender }}</td>
        <td>country {{ racer.country }}</td>
        <td>age {{ racer.age }}</td>
        </tr>
    </table>
<h2>Race</h2>
    <table>
        <tr>
        <td>points {{ race.points }}</td>
        <td>total_time {{ race.total_time }}</td>
        <td>start_time {{ race.start_time }}</td>
        </tr>
    </table>
<h2>Checkpoints</h2>
{% for checkp in checkpoints %}
    <table>
    <tr>
        <td>  number  {{ checkp.number }} </td>
        <td>  distance  {{checkp.distance}} </td>
        <td>  time  {{ checkp.time }} </td>
        <td>  speed  {{ checkp.speed }} </td>
    </tr>
    </table>
{% endfor %}
</body>
</html>