<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Спортсмены</title>
    <style>
        table {
             border-collapse: collapse;
             width: 60%;
             font-family: cursive;
          }
          td,
          th {
            padding: 10px;
            border-bottom: 2px solid grey;
          }
        .nav{
             display: grid;
             grid-template-columns: 9% 9%;
         }
         button{
             width:100px
         }
         .table_title{
             font-size: 20px;
         }
    </style>
</head>
<body>
<header>
    <h1>
        Список спортсменов
    </h1>

    <div class="nav">
        <div>
            <form>
                <input type="button" value="Все соревнования" onClick='location.href="https://skiracing.azurewebsites.net/competitions"'>
            </form>
        </div>
        <div>
            <form>
                <input type="button" value="Все гонщики" onClick='location.href="https://skiracing.azurewebsites.net/racers"'>
            </form>
        </div>
    </div>
</header>
{% if racers %}
    <table>
    <tr>
        <td class="table_title">Имя</td>
        <td class="table_title">Фамилия</td>
        <td class="table_title">Пол</td>
        <td class="table_title">Страна</td>
        <td class="table_title">Возраст</td>
        <td></td>
    </tr>
    {% for racer in racers %}
        <tr>
        <td>{{ racer.name }}</td>
        <td>{{ racer.surname }}</td>
        <td>{{ racer.gender }}</td>
        <td>{{ racer.country }}</td>
        <td>{{ racer.age }}</td>
        <td>
            <form>
                <input type="button" value="Детальнее" onClick='location.href="https://skiracing.azurewebsites.net/racer?id={{racer.id}}"'>
            </form>
        </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</body>
</html>